<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.catchthemonster">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/monster"
        android:label="CTM"
        android:roundIcon="@mipmap/monster"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".MainMenu" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity >
        <activity android:name=".levels" android:screenOrientation="portrait"/>
        android:label="@string/title_activity_levels"
        android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Help" android:screenOrientation="portrait"/>
        <activity android:name=".Level_1" android:screenOrientation="portrait"/>
        <activity android:name=".Level_2" android:screenOrientation="portrait"/>
        <activity android:name=".Level_3" android:screenOrientation="portrait"/>
        <activity android:name=".Level_4" android:screenOrientation="portrait"/>
    </application>

</manifest>